# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
server/bin
server/main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Environment
*.env

# Test coverage
cover.html
cover.out

# IDE
.idea

# GraphQL
.graphqlconfig

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/*
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# docs
client/docs
server/docs

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo

# backups
*.bak

# redis
dump.rdb

# air
server/tmp
