name: Continuous Integration

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  server:
    name: server
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17.5"

      - name: Make CI
        run: cd server && make ci

      - name: Exit If Git Diff
        run: |
          chmod +x ./scripts/exit_if_diff.sh
          ./scripts/exit_if_diff.sh
  client:
    name: client
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v2

      - name: Install packages
        run: cd client && npm ci

      - name: ESLint
        run: cd client && npm run lint:fix

      - name: Prettier
        run: cd client && npm run fmt

      - name: Exit If Git Diff
        run: |
          chmod +x ./scripts/exit_if_diff.sh
          ./scripts/exit_if_diff.sh
